BC_AUTH_SERVICE=https://login.bigcommerce.com
BC_CLIENT_ID=[CLIENT ID]
BC_CLIENT_SECRET=[CLIENT SECRET]
APP_URL=https://path.to.app.example.com
BC_API_ENDPOINT=https://api.bigcommerce.com
SESSION_SECRET="this is a secret to support signed cookies"
